@font-face {
    font-family: Gilroy-SemiBold;
    src: url(./fonts/Gilroy-SemiBold.ttf);
}

@font-face {
    font-family: Gilroy-Medium;
    src: url(./fonts/Gilroy-Medium.ttf);
}

@font-face {
    font-family: Gilroy-Bold;
    src: url(./fonts/Gilroy-Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body{
    background: #FFF;
    font-family: 'Gilroy';
    font-weight: 400;
}

.top,
.main, 
.brand__logo{
    max-width: 1170px;
    margin: 0 auto;
}

.top{
    padding: 40px 373px;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 460px;
}

.logo{
    display: flex;
    width: 137px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.grow{
    font-family: Gilroy-Bold;
    color: #000000;
    font-weight: bold;
    font-size: 24px;
}

.be{
    font-family: Gilroy-Bold;
    color: #F25822;
    font-weight: bold;
    font-size: 24px;
}

.upper__menu a,
.features 
{
    color: #000000;
}

.upper__menu{
    display: flex;    
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    background: #FFF;
    display: flex;
    align-items: center;
    gap: 20px;
}

.upper__menu__home{
    font-family: Gilroy-SemiBold;
    color: #F25822 !important;    
}

.features__icon{
    display: flex;
}

.upper__menu__getstarted{
    color: #FFF !important;    
    display: flex;
    width: 120px;
    padding: 13px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: #F25822;
    font-family: Gilroy-SemiBold;
}

.main{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
    padding: 40px 373px;
}

.home__meta{
    display: flex;
    align-items: flex-start;
    gap: 32px;
}

.home__meta__title{
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.home__meta__title__text1{
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.home__meta__title__text2{
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.buttom__menu{
    font-family: Gilroy-Bold;
    color: #000;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 24px;
}

.buttom__menu__btn{
    color: #FFF;
    display: flex;
    width: 140px;
    padding: 16px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
}

.buttom__menu__watch__logo{
    display: flex;
    padding: 30px 0px;
    background: #FFF;
}

.buttom__menu__watch__video{
    color: #AAA;
}

.home__meta__img{
    display: flex;
    width: 545px;
    height: 375px;
    flex-shrink: 0;    
}

.brand__logo{
    display: flex;
    justify-content: space-between;
    padding: 243px 0;
    gap: 48px;
}